.formation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formation .subtitle {
  color: #e0e0e0;
}

.formation-text {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 80ch;
  color: #525252;
  text-align: justify;
}

.formation-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.formation-text strong {
  color: #141414;
}

.forma {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.forma::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd9a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.forma-year {
  position: absolute;
  top: 20px;
  left: -100px;
  color: #525252;
  font-size: 1rem;
  width: 80px;
  text-align: right;
}

.format-title-wrapper h3 {
  padding-bottom: 5px;
}

.forma-title {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 700;
}

.forma-text#list {
  justify-content: center;
  padding-left: 20px;
  list-style-type: disc;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.forma-text {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.forma-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.forma-skills li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .formation {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .formation .subtitle {
    color: #141414;
  }
  .fo-text {
    font-size: 1.25rem;
    max-width: initial;
  }
  .forma-year {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    font-style: italic;
  }
}

@media (max-width: 400px) {
  .forma {
    grid-template-columns: 1fr;
  }
}
